/*******************************VARIABLE************************************/
:root
{
    --primary: rgb(189, 92, 57);
    --primary-border: rgb(189, 92, 57);
    --primary-lighter: rgb(243, 179, 156);
    --primary-darker: rgb(190, 137, 118);

    --grey-classic: rgb(87, 82, 80);
    --grey-lighter: rgb(124, 118, 115);
    --grey-darker: rgb(56, 53, 51);

    --white-darker: rgb(207, 204, 203);
}


/*******************************VARIABLE************************************/
/*******************************GENERAL************************************/

body
{
    margin: 0;
    padding-bottom: 15px;
    font-size: 25px;
}

a
{
    text-decoration: none;
    color: black;
}

a:visited, link
{
    color: inherit;
}

.title 
{
    font-size: 60px;
    margin: 0;
}

.navi_bar
{
    position : sticky;
    background-color: var(--grey-classic);
    width: 100%;
    height: 40px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
}

.navi_bar a
{
    color: var(--primary);
}

.navi_element
{
    background: linear-gradient(to right, var(--grey-darker) 50%, var(--grey-classic) 50%);
    background-size: 201% 100%;
    background-position: right;
    border-radius: 20px;
    transition: background-position 0.75s cubic-bezier(0.4, 1.75, 0.58, -0.6), color 0.5s;
    padding: 6px;
    text-decoration: none;
}
    .navi_element:hover
    {
        background-position: left;
        color: white;
    }


.header
{
    text-align: center;
    background: linear-gradient(to bottom, var(--grey-classic), var(--grey-lighter));
    padding-bottom: 10px;
    color: var(--white-darker);
}


.foot
{
    position : fixed;
    bottom: 0px;
    background-color: var(--grey-darker);
    font-size: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 2s;
}

    .foot:hover
    {
        transition: all 1s ;
        font-size: 20px;
        color: rgb(204, 204, 204);
    }

.foot p
{
    margin: 0;
}


/*******************************GENERAL************************************/
/*******************************ACCUEIL************************************/

.image_accueil
{
    border-radius: 45px;
    margin: 25px;
    width: 33%;
}

.page_body
{
    background-color: var(--grey-lighter);
}

.bloc_accueil
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5%;
    
}

.article_text 
{
    width: 76%;
    text-align: justify;
    background-color: var(--white-darker);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}

.article_content
{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.bouton
{
    text-align: center;
    text-decoration: none;
    width: fit-content;
    padding: 10px;
    background-color: var(--white-darker);
    border-radius: 10px;        
    border: 2px solid var(--primary-darker);
    transition: background-color 0.5s;
    z-index: 0;
}


.bouton p
{
    border-bottom: 2px solid rgba(var(--primary-border), 0);
    margin: 0;
    color: var(--primary);
    transition: border-bottom 1s;
}

.underline_link
{
    animation: oscillate 1s infinite;
}

.article_content .underline_link p 
{
    border-bottom: 2px solid rgba(var(--primary-border), 1);
}
   
.carousel
{
    overflow: hidden;
}

.carousel_container
{
    display: flex;
    align-items: flex-end;    
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
    height: fit-content;
}

.carousel_item
{
    overflow: hidden;
    object-fit: cover;
}

    .carousel_item::after
    {
        content: "";
        clear: both;
        display: table;
    }


.item
{
    max-height: 600px;
    margin: 5%;
    background-color: white;
    box-shadow: 0px 10px 10px var(--grey-darker);
    transition: transform 0.5s;
}

    .item:hover
    {
        transform: scale(1.05);
    }

.item .item_image
{
    display: flex;
    justify-content: center;
}

.item .item_image img
{
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.item_body
{
    padding: 22px;
}

.item_title
{
    margin: 2%;
    font-size: 40px;
    text-decoration: underline;
}

.item_description
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.carousel_next, .carousel_prev
{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(128, 128, 128) url(../image/fleche_droite.png) center center no-repeat;
    background-size: 20px 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    margin-left: auto;
    right: 10px;
    margin-top: -20%;
    transition: transform 0.3s;
    border: 2px solid white;
}

.carousel_prev
{
    background: rgb(128, 128, 128) url(../image/fleche_gauche.png) center center no-repeat;
    background-size: 20px 20px;
    margin-right: auto;
    margin-left: 0;
    left: 10px;
}

    .carousel_next:hover, .carousel_prev:hover
    {
        transform: scale(1.1);
        cursor: pointer;
    }

/*******************************ACCUEIL************************************/
/*******************************A PROPOS************************************/

.container_general
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.general_colonne
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.general_container_colonne
{
    background-color: var(--white-darker);
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
    text-align: center;
}

.liste_apropos
{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    list-style-type:square;
}
/*******************************A PROPOS************************************/
/*******************************MES PROJETS************************************/

.menu_select_project .select_project
{
    position: sticky;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--grey-lighter);
    margin: 0;
    min-height: 60px;
    align-items: center;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 3px solid var(--grey-darker);
    border-bottom: 3px solid var(--grey-darker);
    box-shadow: 0px 5px 10px var(--grey-classic);
}

.select_project a
{
    text-decoration: none;
    color: var(--primary-lighter);
}


    .select_project li:not(.active_project) :hover
    {
        border-bottom: 2px solid var(--primary-darker);
        transition: border-bottom 0.1s;
    }


.titre_container
{
    font-size: 35px;
    width: 101%;
    margin: 10px;
    margin-left: -15px;
    padding: 10px;
    text-align: center;
}

.container_projet
{
    background-color: var(--white-darker);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 75% ;
    display: none;
}

.active_project
{
    font-size: 50px;
    transition: font-size 0.3s;
}

.active_project_content
{
    display: block;
}

.text_projet
{
    line-height: 133%;
    text-align : justify;
}

.img_projet
{
    width: 60%;
    border-radius: 15px;
}

.img_projet_gp1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100%;
    justify-items: center;
}

#bloc_bas_projet_web
{
    display: flex;
    align-items: center;
}

#bloc_bas_projet_web p, #bloc_bas_projet_web ul
{
    margin-right: 15px;
}

#bloc_bas_gauche_projet_web
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#projet_c_bloc1, #projet_c_bloc2
{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top : 30px;
}
#projet_c_bloc2
{
    flex-direction: row-reverse;
}

#projet_c_bloc1 p, #projet_c_bloc2 p 
{
    margin: 20px;
}

.java_img_bloc
{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#java_bloc_img_all
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#java_bloc_img_all img
{
    width: 30%;
    margin: 10px;
    z-index: 0;
    transition: width 0.1s;
}


#java_bloc_img_all #centre_ecran, #centre_ecran
{
    position: fixed;
    top: 5%;
    right: 25%;
    width: 50%;
    z-index: 999;
    transition: width 0.5s;
}
/*******************************MES PROJETS************************************/
/*******************************ME CONTACTER************************************/

.logo_page_contact
{
    width: 200px;
    border-radius: 10px;
    margin: 14px;
}

.colonne_contact
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.colonne_image
{
    display: flex;
    flex-direction: column;
}

.colonne_gauche
{
    display: flex;
    flex-direction: row;
}

.colonne_titre
{
    display: flex;
    flex-direction: column;
}

.colonne_titre p, .colonne_droite p
{
    display: flex;
    align-items: center;
    height: 200px;
    margin : 14px;
    text-align : left;
    align-items: center;
}

.colonne_droite 
{
    display: flex;
    flex-direction : column;
}

.colonne_droite span
{
    position: absolute;
    margin-top: 35px;
    right: 250px;
    color: var(--primary);
    background:rgb(230, 191, 171);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
    opacity:0;
    transition: all 0.25s
}
    .colonne_droite a:hover span
    {
        opacity:1;
    }

.colonne_droite a
{
    transition: background-color 0.5s, box-shadow 0.5s;
    text-decoration: none;
    color: var(--primary-lighter);
}

    .colonne_droite a:hover 
    {
        background-color: var(--primary-darker);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .colonne_droite a:visited
    {
        color: var(--primary-lighter);
    }


.colonne_droite .link
{
    text-decoration: none;
}    
/*******************************ME CONTACTER************************************/
/*******************************KEYFRAME************************************/

@keyframes oscillate
    {   0%
        {
            transform: rotate(-6deg);
        }
        50%
        {
            transform: rotate(12deg);
        }
        100%
        {
            transform: rotate(-6deg);
        }
    }

@keyframes rollback
    {   0%
        {
            transform: translate3d(0, 0, 0);
        }
        95%
        {
            transform: translate3d(-225%, 0, 0);
        }
        100%
        {
            transform: translate3d(0, 0, 0);
        }
    }

/*******************************KEYFRAME************************************/
/*******************************MOBILE************************************/

@media (max-width: 800px)
{
    /*************GENERAL****************/
    body
    {
        font-size: 15px;
    }

    .foot:hover
    {
        font-size: 15px;
    }
    /*************GENERAL****************/
    /*************ACCUEIL****************/
    .title 
    {
        font-size: 30px;
    }

    .image_accueil
    {
        border-radius: 5px;
    }

    .item
    {
        max-height: fit-content;
        margin: 0;
        box-shadow: 5px 5px 5px black;
    }

    .item_title
    {
        font-size: 20px;
    }

    .item_description
    {
        margin-left: 5%;
        margin-right: 5%;
        /*word-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;*/
        word-wrap: nowrap;
        text-overflow: clip;
        overflow: visible;
        animation: rollback 6s infinite;
    }
        .item_description:hover
        {
            word-wrap: normal;
            text-overflow: clip;
            overflow: visible;
            animation: rollback 3s infinite;
            z-index: -12;
        }

    .carousel_item
    {
        margin: 20px;
    }

    .carousel_next, .carousel_prev
    {
        bottom: 15px;
    }   
    /*************ACCUEIL****************/
    /*************A PROPOS****************/
    .container_general
    {
        flex-direction: column;
        align-items: center;
    }

    .general_colonne
    {
        width: 90%;
    }
    /*************A PROPOS****************/
    /*************PROJET****************/
    .active_project
    {
        font-size: 20px;
        font-weight: bold;
    }
    
    .img_projet
    {
        max-width: 100%;  
    }

    .titre_container
    {
        top: 25px;
        z-index: 1;
    }

    #bloc_bas_projet_web
    {
        flex-direction: column;
    }

    #img_projet_web
    {
        width: 100%;
    }

    #bloc_bas_projet_web p, #bloc_bas_projet_web ul
    {
        margin-right: 0px;
    }   

    #projet_c_bloc1, #projet_c_bloc2
    {
        flex-direction: column;
    }

    .java_img_bloc
    {
        flex-direction: column;
        align-items: center;
    }

    #java_bloc_img_all img
    {
        width: 100%;
    }

    #java_bloc_img_all img:hover
    {
        transform: scale(1);   
        z-index: 0;
    }
    /*************PROJET****************/
    /*************CONTACT****************/

    .logo_page_contact
    {
        width: 120px;
    }

    .colonne_droite p
    {
        height: 120px;
    }

    .colonne_titre, .colonne_droite span, .colonne_droite img
    {
        opacity: 0;
        width: 0;
        height: 0;
        color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
    }

    .colonne_titre
    {
        margin: 0 0;
    }

    .colonne_droite a
    {
        z-index: 99;
    }
    /*************CONTACT****************/
}
