/*******************************GENERAL************************************/

body
{
    margin: 0;
    padding-bottom: 15px;
}

.navi_bar
{
    position : sticky;
    background-color: rgb(189, 92, 57);
    font-size: 25px;
    width: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navi_element
{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(65, 32, 20, 0.75);
    border-radius: 20px;
    padding: 6px;
    text-decoration: none;
    color: black;
    transition: all 0.4s ;
}
    .navi_element:hover
    {
        color: rgb(0, 0, 30);
        background-color: rgba(255, 255, 255, 0.25);
    }


.foot
{
    position : fixed;
    bottom: 0px;
    background-color: rgb(196, 142, 122);
    font-size: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 2s;
}
    .foot p
    {
        margin: 0;
    }

    .foot:hover
    {
        transition: all 1s ;
        font-size: 20px;
    }

/*******************************GENERAL************************************/
/*******************************ACCUEIL************************************/

.header_accueil
{
    text-align: center;
    background : linear-gradient(to top, rgb(247, 153, 119), rgb(189, 92, 57));
    padding-bottom: 10px;
    
}

.image_accueil
{
    border-radius: 45px;
    margin: 10px;
}

.page_body
{
    background-color: rgba(243, 179, 156, 0.527);
}

.title 
{
    font-size: 50px;
    margin: 0;
}

.article_gauche, .article_droite
{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.article_gauche
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article_droite
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article_text 
{
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: justify;
    background-color: rgba(214, 156, 135, 0.5);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s
}

.article_content
{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 22px;
}

.bouton
{
    text-align: center;
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 10px;
    background-color: rgba(214, 156, 135, 0.5);
    border-radius: 10px;        
    border: 2px solid rgb(190, 137, 118);
    transition: background-color 0.5s;
}
    .bouton:hover
    {
        background-color: rgb(190, 137, 118);
    }


/*******************************ACCUEIL************************************/
/*******************************A PROPOS************************************/

.container_general
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.general_colonne
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.general_container_colonne
{
    background: linear-gradient(to bottom right, rgb(230, 180, 162), rgb(199, 142, 121));
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
    text-align: center;
}
