.block_accueil{
      height: 100vh;
      justify-content: space-around;
      font-size: 3rem;

      font-family: "Roboto", serif;
      text-align: center;
}

.btn_accueil{
      background: linear-gradient(to right, rgba(54, 54, 54, 0.5) 50%, rgba(255, 255, 255, 0.178) 50%);
      background-size: 201% 100%;
      background-position: right;
      transition: background-position 0.75s, color 0.5s;
      padding: 6px;
      text-decoration: none;
}

      .btn_accueil:hover{
            background-position: left;
            color: var(--white-darker);
      }

.page_body{
      overflow-y: hidden;
      background: url(../image/background_accueil.jpg);
      background-size: cover;
}

.block_menu{
      height: 100vh;
      justify-content: space-around;
}

.menu_card{
      background-color: var(--grey-lighter);
      width: 25%;
      height: 60%;
      justify-content: space-around;
      overflow: hidden;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      border:var(--black-classic) 2px solid;
      font-size: 2rem;
}

.menu_card_image{
      width: auto;
      height: 80%;
}

.text_writing > *{
      margin: 15px 0;
}

@media screen and (max-width: 600px)
{
      .block_accueil{
            font-size: 2rem;
      }

      .block_menu{
            flex-direction: column;
      }

      .menu_card{
            height: fit-content;
            font-size: 2rem;
      }
      
      .menu_card_image{
            display: none;
      }
}