.navi_bar{
      position : sticky;
      background-color: var(--grey-lighter);
      width: 100%;
      height: fit-content;
      top: 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      font-size: 1.5rem;
}

.navi_bar a{
      color: var(--black-darker);
}

.navi_element{
      height: fit-content;
      background: linear-gradient(to right, var(--grey-classic) 50%, var(--grey-lighter) 50%);
      background-size: 201% 100%;
      background-position: right;
      transition: all 0.5s, color 0.2s;
      padding: 6px;
}

      .navi_element:hover{
            background-position: left;
            color: white;
      }

.foot{
      position : fixed;
      bottom: 0px;
      background-color: var(--grey-darker);
      font-size: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: all 2s;
}

      .foot:hover{
            transition: all 1s ;
            font-size: 20px;
            color: rgb(204, 204, 204);
      }

.foot p
{
      margin: 0;
}


@media screen and (max-width: 600px)
{
      .navi_bar{
            height: fit-content;
            font-size: 5vw;
      }
}