.project_content{
      background-color: var(--grey-classic);
      width: 85%;
      /* padding: 0; */
      margin: 15px;
      border-radius: 10px;
}

.project_content_block{
      text-align: justify;
      font-size: 1.8rem;
      width: 95%;
      margin: 10px;
      padding: 15px;
      border-radius: 10px;
      background-color: var(--grey-lighter);
}

.text_block{
      align-self: baseline;
      margin: 10px 5px;
}

.img_projet{
      /* max-width: 75%; */
      width: 80%;
      margin: 15px;
      border-radius: 10px;
}

.btn_retour{
      position: absolute;
      top: 5vh;
      left: 5vw;
}

.btn_retour > img{
      width: 5rem;
}

.img_videotheque{
      width: 40%;
      margin: 10px;
}

#java_block_img{
      flex-wrap: wrap;
}

@media screen and (max-width: 900px){
      .project_content{
            padding: 0 15px
      }
}

@media screen and (max-width: 600px)
{
      .project_content_block{
            font-size: 1.4rem;
      }

      .img_projet{
            margin: 0px;
            max-width: 100%;
      }

      .btn_retour{
            top: 6vh;
      }

      .btn_retour > img{
            width: 2rem;
      }
}